doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      script(src='https://cdnjs.cloudflare.com/ajax/libs/gojs/1.8.35/go-debug.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
      script(src='javascripts/intl_data.js')
      script(src='javascripts/control.js')
  body
    block content
